.card {
    width: 400px;
    height: 300px;

    padding: 30px;
    margin:0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(47, 71, 93);
}