.card {
    width: 400px;
    height: 300px;

    padding: 30px;
    margin:0 auto;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(47, 71, 93);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.524);
    transition: all 0.5s;

    &:hover{
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.745);
    }

}